<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/health">
		</property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/health/pojo/Admin.hbm.xml</value>
				<value>com/health/pojo/User.hbm.xml</value>
				<value>com/health/pojo/News.hbm.xml</value>
				<value>com/health/pojo/Photo.hbm.xml</value>
				<value>com/health/pojo/Comment.hbm.xml</value></list>
		</property></bean>
		

    <!-- Dao注入sessionFactory -->
    <bean id="userd" class="com.health.dao.impl.UserDaoImpl">
        <!-- 注入持久化操作所需的SessionFactory -->
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
     <bean id="admind" class="com.health.dao.impl.AdminDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
     <bean id="newsd" class="com.health.dao.impl.NewsDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <!-- service注入dao id为下面的ref class为service实现类 -->
    <bean id="users" class="com.health.service.impl.UserServiceImpl">
        <property name="userdao" ref="userd"></property>
    </bean>
    
    <bean id="admins" class="com.health.service.impl.AdminServiceImpl">
        <property name="admindao" ref="admind"></property>
    </bean>
    <bean id="newss" class="com.health.service.impl.NewsServiceImpl">
        <property name="newsdao" ref="newsd"></property>
    </bean>

    <!-- Action注入service id="" 注入 class="action路径" name="loginservice"与LoginAction中声明的要保持一致 
        ref随便取 -->
    <bean id="usera" class="com.health.action.LoginAction" scope="prototype">
        <property name="userservice" ref="users"></property>
    </bean>
    <bean id="admina" class="com.health.action.AdminLoginAction" scope="prototype">
        <property name="adminservice" ref="admins"></property>
    </bean>
     <bean id="newsa" class="com.health.action.ListNewsAction" scope="prototype">
        <property name="newsservice" ref="newss"></property>
    </bean>
    <bean id="shownews" class="com.health.action.NewsAction" scope="prototype">
        <property name="newsservice" ref="newss"></property>
    </bean>
    <bean id="regA" class="com.health.action.RegisterAction" scope="prototype">
        <property name="userservice" ref="users"></property>
    </bean>
	</beans>